:root {
  --primary-bg: #ba9b37;
  --secondary-bg: #000000;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}

code {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

.menu-trigger img {
  position: absolute;
  top: 3px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: scroll;
  cursor: pointer;
  background-color: #fff;
}

/* menu itself*/
.dropdown-menu {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

/* when dropdown is shown*/
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

/* when dropdown is not shown*/
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

/* heading font*/
h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

/* list styling container*/
.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* hover over each list item*/
.dropdown-menu ul li:hover txt {
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  transition: var(--speed) ease;
}

/* hover over list icon*/
.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
  transition: var(--speed) ease;
}

/* dropdown container */
.dropdownItem {
  display: flex;
  margin: 10px auto;
}

/* icons for items*/
.dropdownItem img {
  max-width: 30px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed) ease;
}

/*dropdown text*/
.dropdownItem txt {
  max-width: 100px;
  margin-left: 10px;
  opacity: 0.5;
  transition: var(--speed) ease;
}

/*visited link styling*/
a:visited {
  text-decoration: none;
  color: darkslategrey;
}

/* link styling to show line underneath*/
a {
  background-image: linear-gradient(to right, black, black 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: black;
  font-weight: 600;
  background-position: 0;
  transition: 0.4s;
  transition: var(--speed) ease;
}

a:hover::before {
  width: 100%;
}
